@*<div class="nav-item dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @if (ViewBag.Message != null)
        {
            foreach (var truyen in ViewBag.Data)
            {
                <a class="dropdown-item" href="/manga/@truyen.MangaAlias-@truyen.MangaId" title="@truyen.MangaName">@truyen.FullName</a>
            }

        }

    </div>
</div>*@
<li class="dropdown dropdown-customize">
    <a href="/Bookmark" class="dropdown-toggle" data-toggle="dropdown">
        <a href="/Bookmark">
            <i class="fa fa-book"></i> Bookmark
            <span class="mangacount">@ViewBag.MangaCount</span>
        </a>
        
    </a>
    <ul class="dropdown-menu dropdown-menu-customize" style="padding:10px 0;">
        @if (ViewBag.Message == null)
        {
            foreach (var truyen in ViewBag.Data)
            {
                <li class="border-bottom-1">
                    <a class="dropdown-item" style="padding:5px 10px;" id="updatebookmarkb" data-manga-id="@truyen.MangaId" href="/manga/@truyen.MangaAlias-@truyen.MangaId" title="@truyen.MangaName">
                        <div class="dropdown-item-customize">
                            <img src="~/Cover/@truyen.CoverImg" onError="this.onerror=null;this.src='/RootPicture/error-404.jpg';">
                            <div class="manga-info-custom">
                                <p>@truyen.MangaName</p>
                                <p>@truyen.UpdateDate</p>
                            </div>
                        </div>
                    </a>
                </li>
            }

        }
        else
        {
            <li>@ViewBag.Message</li>
        }
    </ul>
</li>
