@using MyWebsite.Models
@*@model IEnumerable<Testing.ViewModels.LastUpdatedManga>*@
@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<MyWebsite.ViewModels.Home.Index.LastUpdatedManga>

@{
    ViewBag.Title = "TransManga - Dịch truyện online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="leftCol">

    <h1 style="display: none;">Read manga online for free in high quality and most full</h1>
    <div class="daily-update">
        <h2 class="title update-title" title="Latest Manga Releases">CHƯƠNG MỚI NHẤT</h2>
    </div>
    <div id="contentstory">
        <div class="doreamon">
            @foreach (var truyen in Model)
            {
                <div class="itemupdate first">
                    <a class="cover" href="/manga/@truyen.Alias-@truyen.MangaId/@truyen.DefaultLang">
                        <img src="~/Cover/@truyen.CoverLink" onError="this.onerror=null;this.src='/RootPicture/error-404.jpg';" width="60" height="85">
                    </a>
                    <ul>
                        <li>
                            <h3><a href="/manga/@truyen.Alias-@truyen.MangaId">@truyen.FullName</a></h3>
                            @*<a class="hot textdecoration"></a>*@
                            <a class="non"></a>
                        </li>
                        @foreach (var chuongtruyen in truyen.Last3Chapter)
                        {
                            <li>
                                <span><a class="sts sts_1" id="updatebookmarkb" data-manga-id="@truyen.MangaId" data-chapter-id="@chuongtruyen.ChapterId" href="/read/@chuongtruyen.Alias/@truyen.MangaId-@chuongtruyen.ChapterId/@chuongtruyen.LanguageName" title="@chuongtruyen.FullName">[@chuongtruyen.LanguageName] @chuongtruyen.FullName</a></span>
                                <i class="timeago" title="@chuongtruyen.UpdateAt"></i>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

    <div id="loadpage">
        <div class="xem-them">
            <!-- Pagination -->
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions { DisplayEllipsesWhenNotShowingAllPageNumbers = false })
            </ul>
           
        </div>
    </div>
    <div id="mystickytooltip" class="stickytooltip"></div>
</div>

