
@model MyWebsite.Models.Manga
@using MyWebsite.ViewModels.Account;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AccountModel nguoi = (AccountModel)Session["UserInfo"];
}
<div class="leftCol">
    <div style="float: left;width: 100%;text-align: center;">
        @*<div style="max-width: 100%; width: 728px; height: 90px; margin: 0px auto; overflow: hidden;">
                <iframe src="/ads/adtrue_728x90_desktop.html" scrolling="no" frameborder="0" style="width: 728px;height: 90px;"></iframe>
            </div>*@
    </div>
    <div class="breadcrumb breadcrumbs">
        <div class="rdfa-breadcrumb">
            <div>
                <p>
                    <span class="breadcrumbs-title"></span>
                    <span @*itemscope itemtype="http://data-vocabulary.org/Breadcrumb"*@>
                        <a itemprop="url" href="/Home/Index" class="home" title="Trang chủ">
                            <span itemprop="title">Trang chủ</span>
                        </a>
                    </span>
                    <span class="separator">»</span>
                    <span @*itemscope itemtype="http://data-vocabulary.org/Breadcrumb"*@>
                        @*<a itemprop="url" href="https://mangakakalot.com/manga/cd919002">*@
                        <span itemprop="title" style="color:white">@Model.FullName</span>
                        @*</a>*@
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="manga-info-top" id="manga-info-top">
        <div class="manga-info-pic">
            <img src="~/Cover/@Model.CoverLink" onError="this.onerror=null;this.src='/RootPicture/error-404.jpg';" alt="@Model.FullName" />
            @*<span onclick="movetolistchapter();" class="btn_chapterslist">DANH SÁCH CHƯƠNG</span>*@
        </div>
        <ul class="manga-info-text">
            <li>
                <h1>@Model.FullName</h1>
                @* <h2 class="story-alternative">Tên khác</h2> *@
            </li>
            <li>
                Tác giả :
                <a href="/author/@Model.Author">@Model.Author</a>
            </li>
            <li>Trạng thái : Ongoing</li>
            <li>Cập nhật gần nhất : @Model.UpdateAt.ToShortDateString()</li>
            <li style="display: none;">TransGroup : </li>
            <li>Lượt xem: @Html.Action("ViewNumber", "Home", new { id = @Model.MangaId })</li>
            <li>
                Thể loại :
                @Html.Action("MangaGenres", "Home", new { id = @Model.MangaId })
            </li>
            <li>
                @if (nguoi != null)
                {
                   @Html.Action("BookmarkSpan", "Home", new { mangaId = ViewBag.MangaId, userId=nguoi.AccountId})
                }
                else
                {
                    <span class="bookmarkb" id="notlogin"><i class="fa fa-heart"></i> Thêm Bookmark</span>
                }

            </li>

            @*<li class="li_bookmark"><div id="Bookmark"><a onclick="addnote();"><img src="https://mangakakalot.com/themes/home/images/theodoi.png" style="height: 50px;"></a></div></li>*@
            @*<li style="height: 27px;">
                    <span>Rating : </span>
                    <em class="rate_row" id="rate_row"></em>
                    <em class="rate_row_result"></em>
                </li>
                <li style="line-height: 20px; font-size: 11px; font-style: italic; padding: 0px 0px 0px 44px;">
                    <span style="line-height: 100%!important;">&nbsp;</span>
                    <em id="rate_row_cmd" style="color: black;">
                        <em xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate">
                            <em property="v:itemreviewed">Mangakakalot.com</em>
                            <em rel="v:rating">
                                <em typeof="v:Rating">
                                    rate :
                                    <em property="v:average">4.59</em>/
                                    <em property="v:best">5</em>
                                </em>
                            </em> - <em property="v:votes">863</em> votes
                        </em>
                    </em>
                </li>

                <li>
                    <div><p class="fb-save" data-uri="https://mangakakalot.com/manga/cd919002" data-size="small" id="savefilmfb"></p></div>
                    <div class="fb-like" data-href="https://mangakakalot.com/manga/cd919002" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                </li>*@
        </ul>
    </div>
    <div id="noidungm" style="font: 400 14px Open Sans, Tahoma, Geneva, sans-serif;color: #3e3e3e;width: 100%;padding: 10px 2%;background: #FFF;text-align: justify; border-top: 1px dashed #ff530d;margin-bottom: 0px;float: left;overflow: hidden;">
        <h2><p style="color: red;">Mô tả: </p></h2>
        @*Metropolitan System summary is updating. Come visit Mangakakalot.com sometime to read the latest chapter of Metropolitan System. If you have any question about this manga, Please don't hesitate to contact us or translate team. Hope you enjoy it.*@
        @Model.Description
    </div>
    <div style="clear: both;"></div>
    <div id="content-extent-linear">
        <i id="content-extent-linear-gradient" style="display: none;"></i>
    </div>
    <div class="content-extent">
        @*<span style="display: none;" id="content_more" class="content_more">SHOW MORE ⇩</span>
            <span id="content_less" class="content_less">SHOW LESS ⇧</span>*@
    </div>
    @*@Html.Action("PickLanguage","Home",new { idManga =Model.MangaId})*@
    <div class="content-extent" style="margin-top:5px;">
        <select style="font-size:20px" onchange="window.location.href=$(this).val()">
            <option selected>-Please Select Laguague To Read-</option>
            @foreach (var lang in Model.Translations)
            {
                if (ViewBag.CurLang == lang.Language.Code)
                {
                    <option selected value="/manga/@Model.Alias-@Model.MangaId/@lang.Language.Code">@lang.Language.FullName</option>
                }
                else
                {
                    <option value="/manga/@Model.Alias-@Model.MangaId/@lang.Language.Code">@lang.Language.FullName</option>
                }
            }
        </select>
    </div>

    @*<div class="chapter_issue" style="font: 400 14px Open Sans, Tahoma, Geneva, sans-serif;color: #3e3e3e;width: 100%;padding: 10px 2%;background: #FFF;text-align: justify; border-top: 1px dashed #ff530d;margin-bottom: 10px;float: left;">
            Maybe coming in the next issue
            <br>
            <a style="color: #2ecc71;" href="https://mangakakalot.com/chapter/cd919002/chapter_130" target="_blank">Metropolitan System chapter 130</a>
            <br>
            <a style="color: #2ecc71;" href="https://mangakakalot.com/chapter/cd919002/chapter_131" target="_blank">Metropolitan System chapter 131</a>
        </div>*@
    <div style="clear: both;"></div>

    @Html.Action("MangaChapter", "Home", new { id = @Model.MangaId, language = ViewBag.CurLang })

    <div class="comment-info">
        <div class="fb-comments" data-href="https://tentrangweb.com/@ViewBag.MangaAlias-@ViewBag.MangaId" data-numposts="10" data-width="100%"></div>
    </div>
    @*<script type="application/javascript">
            $votepointstar = '5';
            $defaultpointrating = '4.59';
            $postid = '30114';
            $ddrate = 'https://mangakakalot.com/home_story_update_votes';
            $ddbookmark = 'https://mangakakalot.com/home_story_set_bookmark'
            $lg = false;
        </script>
        <script type="text/javascript" src="https://mangakakalot.com/themes/home/js/custom_story.js?v=1"></script>*@
</div>

