@model IEnumerable<MyWebsite.Models.Page>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<body class="trang-doc">
    <div class="logo_chapter">
        <a href="https://mangakakalot.com/" title="Manga Online">
            <img src="https://mangakakalot.com/themes/home/icons/logo_chap.png" alt="Manga Online" title="Manga Online">
        </a>
    </div>
    <div class="breadcrumb breadcrumbs bred_doc">
        <div class="rdfa-breadcrumb">
            <div>
                <p>
                    <span class="breadcrumbs-title"> </span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="/Home/Index" class="home" title="Manga Online">
                            <span itemprop="title">Manga Online</span>
                        </a>
                    </span>
                    <span class="separator">»</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="/manga/@ViewBag.ChapterAlias-@ViewBag.MangaId" title="@ViewBag.MangaName">
                            <span itemprop="title">@ViewBag.MangaName</span>
                        </a>
                    </span>
                    <span class="separator">»</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="#.">
                            <span itemprop="title">@ViewBag.ChapterName</span>
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="option_wrap">
        <div style="justify-content:center; display:grid;">
            @Html.Action("SelectChapter", "Home", new { id = ViewBag.MangaId, chuong = ViewBag.ChapterId, language = ViewBag.CurLang })
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="info-top-chapter">
        <h2>@ViewBag.MangaName @ViewBag.ChapterName</h2>
    </div>

    <div class="vung-doc" id="vungdoc" style="flex:auto; display:grid;">
        @foreach (var truyen in Model)
        {
        <div id="Imge" style="flex:auto; display:grid;">
            <img id="@truyen.PageId" class="lazy" data-src="/PageLink/@truyen.PageLink" data-id="@truyen.PageId">
        </div>
            
        }
    </div>

    <div style="text-align:center;">
        <div style="max-height: 250px; text-align: center; width: 810px; margin: 5px auto; overflow: hidden; max-width: 100%;">

        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="option_wrap">
        <div style="justify-content:center; display:grid">
            @Html.Action("SelectChapter", "Home", new { id = ViewBag.MangaId, chuong = ViewBag.ChapterId })
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="comments">

    </div>
    <div class="clearfix"></div>
    <input hidden value="@ViewBag.ChapterId" id="ChapterId" />
</body>
@section scripts
{
    <script src="~/LayoutHome/ReadChapter/ReadChapter.js"></script>
      
}

