@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<body class="trang-doc">
    <div class="logo_chapter">
        <a href="/Home/Index" title="Manga Online">
            <img src="~/RootPicture/Small_logo.png" style="width:400px;" alt="Manga Online" title="Manga Online">
        </a>
    </div>
    <div class="breadcrumb breadcrumbs bred_doc">
        <div class="rdfa-breadcrumb">
            <div>
                <p>
                    <span class="breadcrumbs-title"> </span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="/Home/Index" class="home" title="Manga Online">
                            <span itemprop="title">Manga Online</span>
                        </a>
                    </span>
                    <span class="separator">»</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="/manga/@ViewBag.MangaAlias-@ViewBag.MangaId" title="@ViewBag.MangaName">
                            <span itemprop="title">@ViewBag.MangaName</span>
                        </a>
                    </span>
                    <span class="separator">»</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="#.">
                            <span itemprop="title">@ViewBag.ChapterName</span>
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="option_wrap">
        <div style="justify-content:center; display:grid;">
            @Html.Action("SelectChapter", "Home", new { id = ViewBag.MangaId, chuong = ViewBag.ChapterId, language = ViewBag.CurLang })
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="info-top-chapter">
        <h2>@ViewBag.MangaName @ViewBag.ChapterName</h2>
    </div>
    @*<div style="text-align:center; max-width: 100%; overflow: hidden;">
            <iframe src="/ads/adtrue_728x90_desktop.html" frameborder="0" scrolling="no" allowtransparency="true" style="width: 728px;height: 90px;"></iframe>
        </div>*@
    <div class="vung-doc" id="vungdoc" style="flex:auto; display:grid;">
        @foreach (var truyen in Model)
        {
            <img class="lazyload blur-up" @*src="~/Truyen/@truyen.UrlAnh"*@ data-src="/Images/Trang/@truyen.PageLink">
        }
        @*<img src="https://s8.mkklcdnv8.com/mangakakalot/c1/cd919002/vol1_chapter_129_metropolitan_system_chapter_129/1.jpg" alt="Metropolitan System Vol.1 Chapter 129: Metropolitan System Chapter 129 page 1 - Mangakakalot.com" title="Metropolitan System Vol.1 Chapter 129: Metropolitan System Chapter 129 page 1 - Mangakakalot.com" />*@
    </div>

    <div style="text-align:center;">
        <div style="max-height: 250px; text-align: center; width: 810px; margin: 5px auto; overflow: hidden; max-width: 100%;">
            @*<div style="float: left; max-width: 300px; overflow: hidden;">
                    <iframe src="/ads/bidgear_300x250_dekstop.html" frameborder="0" scrolling="no" allowtransparency="true" style="width: 300px;height: 250px;"></iframe>
                </div>*@
            @*<a href="/Home/Index"><img src="https://mangakakalot.com//themes/home/images/clickhere2.png" style="width: 200px;height : 200px;" /></a>*@
            @*<div style="float: left; max-width: 300px; overflow: hidden;">
                    <iframe src="/ads/bidgear_300x250_dekstop_2.html" frameborder="0" scrolling="no" allowtransparency="true" style="width: 300px;height: 250px;"></iframe>
                </div>*@
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="option_wrap">
        <div style="justify-content:center; display:grid">
            @Html.Action("SelectChapter", "Home", new { id = ViewBag.MangaId, chuong = ViewBag.ChapterId })
        </div>
        @*<div class="btn-navigation-chap">
                <a href="https://mangakakalot.com/chapter/cd919002/chapter_128" class="next">PREV CHAPTER</a><a href="https://mangakakalot.com/chapter/cd919002/chapter_130" class="back">NEXT CHAPTER</a>
            </div>*@
        <div class="clearfix"></div>
    </div>
    @*<div class="breadcrumb breadcrumbs bred_doc">
            <div class="rdfa-breadcrumb">
                <div>
                    <p>
                        <span class="breadcrumbs-title"> </span>
                        <span>
                            <a href="https://mangakakalot.com/" class="home">Manga Online</a>
                        </span>
                        <span class="separator">»</span>
                        <span>
                            <a href="https://mangakakalot.com/manga/cd919002" title="Metropolitan System">Metropolitan System</a>
                        </span>
                        <span class="separator">»</span>
                        Vol.1 Chapter 129: Metropolitan System Chapter 129
                    </p>
                </div>
            </div>
        </div>*@
    <div class="comments">
        @*<p>You just finished reading <strong>Metropolitan System Vol.1 Chapter 129: Metropolitan System Chapter 129</strong> online. The Bookmark button is a very simple way to get notifications when your favorite manga have new updates. It's very useful to anyone who loves reading <a href="https://mangakakalot.com/" style="margin: 0;padding: 0;"><strong>manga</strong></a>. Let's us guide you to find your best manga to read. And if you find any errors, let us know so we can fix it as soon as possible!</p>
            <p>You can support us by leaving comments or just a click on the Like button!</p>
            <div style="margin-top: 0px;" class="fb-like like-trang-doc" data-href="https://mangakakalot.com/chapter/cd919002/chapter_129" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            <div style="clear: both;"></div>
            <div class="tags_chapter">
                <ul class="chap-lienquan">
                    <li><span>Related chapter: </span></li>
                    <li><a href="https://mangakakalot.com/chapter/cd919002/chapter_128" title="Metropolitan System Vol.1 Chapter 128: Metropolitan System Chapter 128">Metropolitan System Vol.1 Chapter 128: Metropolitan System Chapter 128</a></li>
                    <li><a href="https://mangakakalot.com/chapter/cd919002/chapter_130" title="Metropolitan System Vol.1 Chapter 130: Metropolitan System Chapter 130">Metropolitan System Vol.1 Chapter 130: Metropolitan System Chapter 130</a></li>
                </ul>
                <ul class="chap-lienquan"></ul>
            </div>*@

        @*Comment FaceBook*@
        <div class="fb-comments" data-href="https://tentrangweb.com/@ViewBag.MangaAlias-@ViewBag.MangaId" data-numposts="10" data-width="100%"></div>
        @*<div class="clearfix"></div>
            <div class="new_update_trangdoc" style="margin-top: 0px;">
                <div class="wrap_update tab_anh_dep danh_sach">
                    <h4 style="padding: 0;">RECENTLY UPDATED MANGA</h4>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/kainushi_wa_akuma" title="Kainushi wa Akuma">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225/858-kainushi_wa_akuma.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Kainushi wa Akuma">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/kainushi_wa_akuma" title="Kainushi wa Akuma">Kainushi wa Akuma</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/kainushi_wa_akuma/chapter_25" title="Kainushi wa Akuma Vol.11 Chapter 25" class="chapter">Kainushi wa Akuma Vol.11 Chapter 25</a>
                        <span>View : 1,209,593</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/chotto_ippai" title="Chotto Ippai!">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225/20470-chotto_ippai.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Chotto Ippai!">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/chotto_ippai" title="Chotto Ippai!">Chotto Ippai!</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/chotto_ippai/chapter_37" title="Chotto Ippai! Vol.6 Chapter 37: The first time" class="chapter">Chotto Ippai! Vol.6 Chapter 37: The first time</a>
                        <span>View : 514,502</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/kuro_hakushaku_wa_hoshi_o_mederu" title="Kuro Hakushaku wa Hoshi o Mederu">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225/1172-kuro_hakushaku_wa_hoshi_o_mederu.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Kuro Hakushaku wa Hoshi o Mederu">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/kuro_hakushaku_wa_hoshi_o_mederu" title="Kuro Hakushaku wa Hoshi o Mederu">Kuro Hakushaku wa Hoshi o Mederu</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/kuro_hakushaku_wa_hoshi_o_mederu/chapter_33" title="Kuro Hakushaku wa Hoshi o Mederu Vol.6 Chapter 33" class="chapter">Kuro Hakushaku wa Hoshi o Mederu Vol.6 Chapter 33</a>
                        <span>View : 1,164,659</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/freezing_colour_edition" title="Freezing Colour Edition">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225/19352-freezing_colour_edition.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Freezing Colour Edition">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/freezing_colour_edition" title="Freezing Colour Edition">Freezing Colour Edition</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/freezing_colour_edition/chapter_19" title="Freezing Colour Edition Vol.2 Chapter 19: Immobilized Ingrid (1)" class="chapter">Freezing Colour Edition Vol.2 Chapter 19: Immobilized Ingrid (1)</a>
                        <span>View : 350,035</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/fh920802" title="Asuperu Kanojo">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225_new/2199-fh920802.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Asuperu Kanojo">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/fh920802" title="Asuperu Kanojo">Asuperu Kanojo</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/fh920802/chapter_2" title="Asuperu Kanojo Vol.1 Chapter 2" class="chapter">Asuperu Kanojo Vol.1 Chapter 2</a>
                        <span>View : 3,516</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/iz920801" title="Yuri na kataomoi-chan">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225_new/2198-iz920801.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Yuri na kataomoi-chan">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/iz920801" title="Yuri na kataomoi-chan">Yuri na kataomoi-chan</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/iz920801/chapter_1" title="Yuri na kataomoi-chan Chapter 1: Straw" class="chapter">Yuri na kataomoi-chan Chapter 1: Straw</a>
                        <span>View : 1,734</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/up920800" title="Aki no Owari no Pianissimo">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225_new/2197-up920800.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Aki no Owari no Pianissimo">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/up920800" title="Aki no Owari no Pianissimo">Aki no Owari no Pianissimo</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/up920800/chapter_3" title="Aki no Owari no Pianissimo Vol.1 Chapter 3: The Falling Star in the Cabbage Farm" class="chapter">Aki no Owari no Pianissimo Vol.1 Chapter 3: The Falling Star in the Cabbage Farm</a>
                        <span>View : 484</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/qc919147" title="Buzzy Noise">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225_new/547-qc919147.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Buzzy Noise">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/qc919147" title="Buzzy Noise">Buzzy Noise</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/qc919147/chapter_16" title="Buzzy Noise Chapter 16" class="chapter">Buzzy Noise Chapter 16</a>
                        <span>View : 152,116</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/ua919267" title="L.O.R.D: Legend of Ravaging Dynasties">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225_new/668-ua919267.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="L.O.R.D: Legend of Ravaging Dynasties">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/ua919267" title="L.O.R.D: Legend of Ravaging Dynasties">L.O.R.D: Legend of Ravaging Dynasties</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/ua919267/chapter_14.3" title="L.O.R.D: Legend of Ravaging Dynasties Chapter 14.3: Cracks In A Narrow Road" class="chapter">L.O.R.D: Legend of Ravaging Dynasties Chapter 14.3: Cracks In A Narrow Road</a>
                        <span>View : 910,481</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/shanliang_de_sishen" title="Shanliang de Sishen">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225/686-shanliang_de_sishen.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Shanliang de Sishen">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/shanliang_de_sishen" title="Shanliang de Sishen">Shanliang de Sishen</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/shanliang_de_sishen/chapter_77.1" title="Shanliang de Sishen Chapter 77.1" class="chapter">Shanliang de Sishen Chapter 77.1</a>
                        <span>View : 4,103,834</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/ashitabasan_chi_no_muko_kurashi" title="Ashitaba-san Chi no Muko Kurashi">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225/291-ashitabasan_chi_no_muko_kurashi.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Ashitaba-san Chi no Muko Kurashi">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/ashitabasan_chi_no_muko_kurashi" title="Ashitaba-san Chi no Muko Kurashi">Ashitaba-san Chi no Muko Kurashi</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/ashitabasan_chi_no_muko_kurashi/chapter_55" title="Ashitaba-san Chi no Muko Kurashi Vol.7 Chapter 55" class="chapter">Ashitaba-san Chi no Muko Kurashi Vol.7 Chapter 55</a>
                        <span>View : 4,389,070</span>
                    </div>
                    <div class="update_item">
                        <a rel="nofollow" href="https://mangakakalot.com/manga/cb918833" title="Hagure Seirei Ino Shinsatsu Kiroku ~ Seijo Kishi-dan to Iyashi no Kamiwaza ~">
                            <img width="90" height="130" src="https://avt.mkklcdnv3.com/avatar_225_new/236-cb918833.jpg" onerror="javascript:this.src='//mangakakalot.com/themes/home/images/404-avatar.png';" alt="Hagure Seirei Ino Shinsatsu Kiroku ~ Seijo Kishi-dan to Iyashi no Kamiwaza ~">
                        </a>
                        <h3 class="nowrap">
                            <a href="https://mangakakalot.com/manga/cb918833" title="Hagure Seirei Ino Shinsatsu Kiroku ~ Seijo Kishi-dan to Iyashi no Kamiwaza ~">Hagure Seirei Ino Shinsatsu Kiroku ~ Seijo Kishi-dan to Iyashi no Kamiwaza ~</a>
                        </h3>
                        <a href="https://mangakakalot.com/chapter/cb918833/chapter_4" title="Hagure Seirei Ino Shinsatsu Kiroku ~ Seijo Kishi-dan to Iyashi no Kamiwaza ~ Vol.1 Chapter 4" class="chapter">Hagure Seirei Ino Shinsatsu Kiroku ~ Seijo Kishi-dan to Iyashi no Kamiwaza ~ Vol.1 Chapter 4</a>
                        <span>View : 648,786</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <h2 style="font-size: 16px; font-weight: bold; color: #31a95b; line-height: 28px;">Metropolitan System Vol.1 Chapter 129: Metropolitan System Chapter 129 summary</h2>
            <p>You're reading Metropolitan System. This manga has been translated by Updating. Author: Tu Jun already has 44605 views.</p>
            <p>If you want to read free manga, come visit us at anytime. We promise you that we will always bring you the latest, new and hot manga everyday. In case you don't know, Mangakakalot is a very cool responsive website and mobile-friendly, which means the images can be auto-resize to fit your pc or mobile screen. You can experience it by using your smartphone and <a href="https://mangakakalot.com/" style="margin: 0;padding: 0;"><strong>read manga online</strong></a> right now. It's manga time!!</p>*@
    </div>
    <div class="clearfix"></div>

</body>
@section scripts
{
    <script src="~/Layout/ReadChapter/ReadChapter.js">
    </script>
}

