@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Bootstrap -->

<style>
    .padding {
        border: none;
    }

    .box {
        border: none;
    }

    .notice {
        color: red;
    }
</style>
<div class="padding">

    <div class="m-b black rounded">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Home</li>
            <li class="breadcrumb-item" aria-current="page">Tạo truyện mới</li>
        </ol>
    </div>

    <div class="box">
        <div class="box-header blue ">
            <h2>TẠO TRUYỆN MỚI</h2>
        </div>
        <form id="form1" method="post" action="/Manga/CreateManga" enctype="multipart/form-data">
            @Html.AntiForgeryToken();
            <div class="box-body row">
                <div class="col-sm-3">
                    <div class=" form-file col-sm-10">
                        <div id="formupload" style="padding-bottom:10px;">
                            <img id="Imganhbia" style=" width:250px; height:400px;" />
                        </div>
                        <input hidden="hidden" type="file" id="AnhBia" name="AnhBia" class="form-control" onchange="readURL(this);" required>
                        <button type="button" class="btn btn-fw primary" id="uploadbutton">Chọn Ảnh Bìa</button>
                        <br />
                        <span class="notice">
                            *Nên chọn ảnh có kích thước 200x300 px
                        </span>
                    </div>
                </div>
                <div class="col-sm-9">

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <span>Tên Truyện</span>
                            <span style="color:red">(*)</span>
                        </label>
                        <div class="col-sm-8">
                            <input id="FullName" name="FullName" ui-jp="parsley" class="form-control" type="text" placeholder="Tên Truyện" data-parsley-required-message="Không được để trống" required />
                        </div>
                        <div class="col-sm-2">
                            <button class=" btn btn-fw info" id="CheckNameManga" type="button"> Kiểm tra</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <span>Đường dẫn</span>
                            <span style="color:red">(*)</span>
                        </label>
                        <div class="col-sm-10">
                            <input id="Alias" name="Alias" ui-jp="parsley" class="form-control" type="text" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <span>Tác giả</span>
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="Tác giả" id="Author" name="Author" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <span>Trạng thái</span>
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control c-select" id="StatusId" name="StatusId">
                                @foreach (var item in ViewBag.Status)
                                {
                                    <option value="@item.StatusId">@item.FullName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <span>Mô tả</span>
                            <span style="color:red">(*)</span>
                        </label>

                        <div class="col-sm-10">
                            <textarea rows="5" class="form-control" placeholder="Mô tả" id="Description" name="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">
                            <span>Thể loại</span>
                            <span style="color:red">(*)</span>
                        </label>
                        <div class="input-group select2-bootstrap-append col-sm-10">
                            <select name="ListGenre" id="ListGenre" class="form-control select2" multiple multiple ui-jp="select2" ui-options="{theme: 'bootstrap'}" required>
                                @foreach (var item in ViewBag.Genre)
                                {
                                    <option value="@item.GenreId">@item.FullName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="button" id="SaveManga" name="btnCreate" class="btn btn-fw info offset-md-10 " disabled> Tạo</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts

{
    <script src="~/LayoutUser/Truyen/TaoMoi.js"></script>
    <script>
        $('#FullName').on("blur", function () {
            let str = $('#FullName').val();
            str = str.toLowerCase();
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            str = str.replace(/ /g, "-");
            str = str.trim();
            $('#Alias').val(str);
        })
    </script>
}





