@using MyWebsite.Service.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    #tooltip {
        position: absolute;
        display: none;
    }

    .disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
    }
</style>
<div class="padding">
    <div class="box black row">
        <div class="col-md-4 push-md-8">
            <div class="box">
                <div class="box-header"><h2>Trạng thái</h2></div>
                <div class="box-body">
                    <ul class="list-unstyled m-t-n-sm">
                        <li class="checkbox">
                            <label class="ui-check">
                                <input type="checkbox" class="has-value h4"><i></i> Tất cả
                            </label>
                        </li>
                        @foreach (var item in ViewBag.Status)
                        {
                            <li class="radio">
                                <label class="ui-check">
                                    <input name="StatusCheck" type="radio" value="@item.Alias" class=" has-value h4"><i></i> @item.FullName
</label>

</li>
                        }


                    </ul>

                    <button class="btn warn text-black" id="StatusCheck" style="width:100%">Áp Dụng</button>
                </div>

            </div>
            <div class="box">
                <div class="box-header">Thể loại</div>
                <div class="box-body">
                    <ul class="list-unstyled row">
                        @foreach (var item in ViewBag.Genres)
                        {
                            <li class="text col-sm-4">
                                <a href="@item.Alias">
                                    <span title="@item.Description">
                                        @item.FullName
                                    </span>
                                </a>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 pull-md-4">
            <div class="row" style="padding-bottom:6px">
                <span class="h5 col-sm-3" style="margin:auto">Danh sách truyện</span>
                <div class="col-sm-3 offset-sm-6 ma" style="padding-top:10px">
                    <select id="SortManga" class="form-control select2 " ui-jp="select2" ui-options="{theme: 'bootstrap'}">
                        <option value="AK">Alaska</option>
                    </select>
                </div>

            </div>
            <div class="row">
                @foreach (var item in ViewBag.List)
                {
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="box p-a-xs">
                            <a href="#"><img style="height:200px;width:100%" class="lazy img-responsive" data-src="/Cover/@item.CoverLink" alt="" id="d"></a>
                            <div class="p-a-sm">
                                <div class="text-ellipsis">@item.FullName</div>
                            </div>
                        </div>
                    </div>
                }


            </div>
            <div class="pull-right">
                <nav>
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div id="tooltip" class="black box col-sm-4">
    <div class="box-body pull-right">
        <div id="FullName" class="h4 text-primary"></div>
        <div>Author(s):	<span id="Author"></span></div>
        <div class="_400 ">Genres :	<span id="Genres"></span></div>
        <div class="_400 ">View :	<span id="View"></span></div>
        <div>
            Description :
            <span id="Des"></span>
        </div>
    </div>

</div>
<div hidden>
    <input hidden id="Page" value="@ViewBag.Page" />
</div>
<script src="~/LayoutUser/jquery.lazy.js"></script>
<script>
    $(document).ready(function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const curpage = urlParams.get('page');

        Pagination(+curpage, +$("#Page").val(), 3, queryString, urlParams);
        LoadImg();
        LoadSort();
    });
    var mouseX;
    var mouseY;
    $(document).mousemove(function (e) {
        // mouse coordinates
        mouseX = e.pageX;
        mouseY = e.pageY;

    });

    // hover
    $(".lazy").mouseover(function () {
        // populate tooltip string


        // show tooltip
        $('#tooltip').stop(false, true).fadeIn(1);

        // position tooltip relative to mouse coordinates
        $(this).mousemove(function () {
            $('#tooltip').css({ 'top': mouseY - 10, 'left': mouseX + 10 });
        });
    }).mouseout(function () {
        // hide tooltip
        $('#tooltip').stop(false, true).fadeOut('slow');
    });
    function LoadImg() {

        $('.lazy').lazy({
            placeholder: "/RootPicture/tenor.gif",
            // called before an elements gets handled
            beforeLoad: function (element) {
                var imageSrc = element.data('src');
                console.log('image "' + imageSrc + '" is about to be loaded');
            },

            // called after an element was successfully handled
            afterLoad: function (element) {
                console.log("Load ok");
            },

            // called whenever an element could not be handled
            onError: function (element) {
                var imageSrc = element.data('src');
                console.log('image "' + imageSrc + '" could not be loaded');
            },

            // called once all elements was handled
            onFinishedAll: function () {
                console.log('finished loading all images');
            }
        });
    };
    function Pagination(curpage, lastpage, showpages, queryString, urlParams) {
        let firstpage = 1;
        let html = "";
        urlParams.set("page", 1);
        queryString = urlParams.toString();
        let hreff = "/Manga/ListAllManga?" + queryString;
        urlParams.set("page", 1);
        queryString = urlParams.toString();
        let hrefl = "/Manga/ListAllManga?" + queryString;
        if (showpages == lastpage) {

            if (curpage != firstpage) {
                html = '<li  ><a href=' + hreff + ' aria-label="Previous"><span class="text-muted" aria-hidden="true">Đầu</span></a></li>';
            }
            else {
                html = '<li  class="disabled"><a class="disabled" href="" aria-label="Previous"><span class="text-muted" aria-hidden="true">Đầu</span></a></li>';
            }
            for (var i = firstpage; i < firstpage + showpages; i++) {
                urlParams.set("page", i);
                queryString = urlParams.toString();
                let href = "/Manga/ListAllManga?" + queryString;
                if (i == curpage) {
                    html += '<li class="active"><a href=' + href + '>' + curpage + '<span class="sr-only">(current)</span></a></li>';
                }
                else {
                    html += '<li><a href=' + href + '>' + i + '</a></li>';
                }
            }

            if (curpage != lastpage) {
                html += '<li> <a href=' + hrefl + ' aria-label="Next"><span aria-hidden="true">Cuối</span></a></li>';
            }
            else {
                html += '<li><a class="disabled" href="" aria-label="Next"><span aria-hidden="true">Cuối</span></a></li>';
            }

            $(".pagination").append(html);
        }
        else if (showpages > lastpage) {
            if (curpage != firstpage) {
                html = '<li  ><a href=' + hreff + ' aria-label="Previous"><span class="text-muted" aria-hidden="true">Đầu</span></a></li>';
            }
            else {
                html = '<li  class="disabled"><a class="disabled" href="" aria-label="Previous"><span class="text-muted" aria-hidden="true">Đầu</span></a></li>';
            }
            for (var i = firstpage; i < firstpage + lastpage; i++) {
                urlParams.set("page", i);
                queryString = urlParams.toString();
                let href = "/Manga/ListAllManga?" + queryString;
                if (i == curpage) {
                    html += '<li class="active"><a href=' + href + '>' + curpage + '<span class="sr-only">(current)</span></a></li>';
                }
                else {
                    html += '<li><a href=' + href + '>' + i + '</a></li>';
                }
            }
            if (curpage != lastpage) {
                html += '<li> <a href=' + hrefl + ' aria-label="Next"><span aria-hidden="true">Cuối</span></a></li>';
            }
            else {
                html += '<li><a class="disabled" href="" aria-label="Next"><span aria-hidden="true">Cuối</span></a></li>';
            }

            $(".pagination").append(html);
        }
        else {
            if (curpage < showpages) {
                if (curpage != firstpage) {
                    html = '<li  ><a href=' + hreff + ' aria-label="Previous"><span class="text-muted" aria-hidden="true">Đầu</span></a></li>';
                }
                else {
                    html = '<li  class="disabled"><a class="disabled" href="" aria-label="Previous"><span class="text-muted" aria-hidden="true">Đầu</span></a></li>';
                }
                for (var i = firstpage; i < firstpage + showpages; i++) {
                    urlParams.set("page", i);
                    queryString = urlParams.toString();
                    let href = "/Manga/ListAllManga?" + queryString;
                    if (i == curpage) {
                        html += '<li class="active"><a href=' + href + '>' + curpage + '<span class="sr-only">(current)</span></a></li>';
                    }
                    else {
                        html += '<li><a href=' + href + '>' + i + '</a></li>';
                    }
                }
                html += ' <li><a class="disabled" href="">...</a></li> <li><a href=' + hrefl + ' aria-label="Next"><span aria-hidden="true">Cuối</span></a></li>';
                $(".pagination").append(html);
            }
            else
                if (curpage >= showpages && curpage <= (lastpage - showpages + 1)) {
                    html = '<li ><a href=' + hreff + ' aria-label="Previous"><span aria-hidden="true">Đầu</span></a></li>';
                    html += ' <li><a class="disabled" href="">...</a></li>';
                    for (var i = curpage + 1 - showpages; i < curpage + showpages; i++) {
                        urlParams.set("page", i);
                        queryString = urlParams.toString();
                        let href = "/Manga/ListAllManga?" + queryString;
                        if (i == curpage) {
                            html += '<li class="active"><a href=' + href + '>' + curpage + '<span class="sr-only">(current)</span></a></li>';
                        }
                        else {
                            html += '<li><a href=' + href + '>' + i + '</a></li>';
                        }
                    }
                    if (curpage < (lastpage - showpages + 1)) {
                        html += ' <li><a class="disabled" href="">...</a></li>';
                    }
                    html += ' <li><a href=' + hrefl + ' aria-label="Next"><span aria-hidden="true">Cuối</span></a></li>';
                    $(".pagination").append(html);
                }
                else
                    if (curpage > (lastpage - showpages)) {
                        html = '<li ><a href=' + hreff + ' aria-label="Previous"><span aria-hidden="true">Đầu</span></a></li>';
                        html += ' <li><a class="disabled" href="">...</a></li>';
                        for (var i = lastpage - showpages + 1; i < lastpage + 1; i++) {
                            urlParams.set("page", i);
                            queryString = urlParams.toString();
                            let href = "/Manga/ListAllManga?" + queryString;
                            if (i == curpage) {
                                html += '<li class="active"><a href=' + href + '>' + curpage + '<span class="sr-only">(current)</span></a></li>';
                            }
                            else {
                                html += '<li><a href=' + href + '>' + i + '</a></li>';
                            }
                        }
                        if (curpage != lastpage) {
                            html += '<li><a href=' + hrefl + ' aria-label="Next"><span aria-hidden="true">Cuối</span></a></li>';
                        }
                        else {
                            html += '<li><a href="" class="disabled" aria-label="Next"><span aria-hidden="true">Cuối</span></a></li>';
                        }
                        $(".pagination").append(html);
                    }
        }

    }
    function LoadSort() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        let hreff = "/Manga/ListAllManga?" + queryString;
        urlParams.set('sort', 0);
        $("#SortManga").append('<option value=' +"/Manga/ListAllManga?" + urlParams.toString() + '>Từ A đến Z</option>');
        urlParams.set('sort', 1);
        $("#SortManga").append('<option value='  +"/Manga/ListAllManga?" + urlParams.toString() + '>Từ Z đến A</option>');
        urlParams.set('sort', 2);
        $("#SortManga").append('<option value='  +"/Manga/ListAllManga?" + urlParams.toString() + '>Cập nhật gần nhất</option>');
    }
    $('#SortManga').on('change', function(){
   window.location = $(this).val();
});
    $("#StatusCheck").on("click", function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        urlParams.set('status', document.querySelector('input[name="StatusCheck"]:checked').value);
        window.location = "/Manga/ListAllManga?" + urlParams.toString();
    })
</script>