
@model IEnumerable<MyWebsite.ViewModels.Manga.MangaModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
  
</style>
<div class="padding">
    <div class="m-b black">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Account/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách truyện đã tạo</li>
        </ol>
    </div>
    <div class="box">
        <div class="box-header blue">
            <h2>Danh sách truyện</h2>
        </div>
        @using (Html.BeginForm("ListManga", "Manga", FormMethod.Post))
        {
            <div class="box-body">
                <div class="table-responsive">
                    <table ui-jp="dataTable" id="datatable" class="table table-striped b-t b-b">
                        <thead>
                            <tr>
                                <th>Ảnh Bìa</th>
                                <th>Thông tin</th>
                                <th>Tổng chương</th>
                                <th>Tổng lượt xem</th>
                                <th>Tổng bản dịch</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>

                                    <span>
                                        <img class="img-thumbnail"   src="~/Cover/@item.CoverLink" style="max-width:120px;max-height:80px" />
                                    </span>


                                </td>
                                <td class="center">
                                    <span>
                                        <span style="color:blue">Tên truyện:</span> @Html.DisplayFor(modelItem => item.FullName)
                                    </span>
                                    <br />
                                    <span class="pull-left">
                                        <span style="color:blue">Tác giả:</span>   @Html.DisplayFor(modelItem => item.Author)
                                    </span>

                                    <span class="pull-right">
                                        Trạng thái: @Html.DisplayFor(modelItem => item.status)
                                    </span>
                                    <br />
                                    <span>
                                        Cập nhật lần cuối: @Html.DisplayFor(modelItem => item.CreatAt)
                                    </span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.CreatAt)
                                </td>
                                <td>
                                    <a href="~/Manga/UpdateManga/@item.MangaId">
                                        <i class="fa fa-edit fa-lg" style="margin-right:10px;color:cornflowerblue" title="Cập nhật truyện"></i>

                                    </a>
                                    <a href="/ListChapter/@item.MangaId">
                                        <i class="fa  fa-list-ol fa-lg" title="Danh sách chương" style="margin-right:10px;color:red"></i>
                                    </a>

                                </td>
                                <td>
                                    <a href="~/Manga/UpdateManga/@item.MangaId">
                                        <i class="fa fa-edit fa-lg" style="margin-right:10px;color:cornflowerblue" title="Cập nhật truyện"></i>

                                    </a>
                                    <a href="/ListChapter/@item.MangaId">
                                        <i class="fa  fa-list-ol fa-lg" title="Danh sách chương" style="margin-right:10px;color:red"></i>
                                    </a>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

</div>



