@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <div class="padding">
        <div id="tooltip" class="black box">
            <div class="box-body row">
                <div class="col-sm-3">
                    <img style="height:initial;width:100%" src="~/RootPicture/tenor.gif" />
                </div>
                <div class="col-sm-9 row">
                    <div class="col-sm-7">
                        <div id="FullName" class="h4 text-primary">@ViewBag.Manga.FullName</div>
                        <div>Author(s):	<span id="Author"></span>@ViewBag.Manga.Author</div>
                        <div class="_400 ">Genres :	<span id="Genres">
                                   @foreach(var item in ViewBag.Genre)
                                   {
                                                <span style="padding-right:4px;" class="label primary">@item.FullName</span>
                                   }
                                   </span></div>
                        <div class="_400 ">View :	<span id="View">@ViewBag.Manga.View</span></div>
                        <button style="margin:7px;" class="btn primary " data-toggle="modal" data-target="#m-a-f-X">Xin gia nhập</button>
                        <div>
                            Description :
                            <span id="Des">@ViewBag.Manga.Description</span>
                        </div>
                    </div>
                    
                    <div class="col-sm-5">
                        <div id="FullName" class="h4 text-primary">Đã tham gia</div>
                        <div style="margin-bottom:7px;">Quản lý truyện:	<span id="ql" class="label">Kaishi1</span></div>
                        <div style="margin-bottom:7px;" class="_400 " id="uc">Tải lên Clear-text :	</div>
                        
                        <div style="margin-bottom:7px;" class="_400 " id="dt">Dịch Truyện :</div>
                        <div style="margin-bottom:7px;" id="tm">
                            Quản lý bản dịch :
                           
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </div>
    <div id="m-a-f-X" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xin gia nhập: <span id="FullName"></span></h5>
                </div>
                <div class="modal-body">
                    <form>
                        <input hidden id="MangaId" name="MangaId" />
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label">
                                <span>Vị trí</span>
                                <span style="color:red">(*)</span>
                            </label>
                            <div class="col-sm-8">

                                <select id="SelectRole" class="form-control select2-bootstrap-append">
                                    @foreach (var item in ViewBag.ListRole)
                                    {
                                        <option value="@item.RoleId">@item.FullName</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div id="SelectLanguage" style="display:none" class="form-group row">
                            <label class="col-sm-4 form-control-label">
                                <span>Ngôn ngữ</span>
                                <span style="color:red">(*)</span>
                            </label>
                            <div class="col-sm-8">
                                <select id="Language" class="form-control select2-bootstrap-append">
                                    @foreach (var item in ViewBag.ListLanguage)
                                    {
                                        <option value="@item.LanguageId">@item.FullName</option>
                                    }
                                </select>

                            </div>

                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Hủy</button>
                    <button id="Join" type="button" class="btn danger p-x-md" data-dismiss="modal">Xin gia nhập</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
<script>
    $(document).ready(function () {
        LoadInfoJoin();
    })
    $("#SelectRole").on("change", function () {
        if ($(this).val() == 4  )
            $("#SelectLanguage").show("slow");
        else
            $("#SelectLanguage").fadeOut();

    })
    $("#Join").click(function () {
    let language = -1;
    if ($("#Language").val() != null) {
        language = $("#Language").val();
    }
        $.ajax({
            url: "/Manga/Join",
            type: "post",
           
            data: {
                id:  +urlParams[urlParams.length-1],
                role: +$("#SelectRole").val(),
                language: +language,
                type: 0
            },
            success: function (data) {
                if (data == 1) {
                    alert("Xin gia nhập thành công");
                }
                else
                    if (data == 2) {
                        alert("Bạn đã xin gia nhập vị trí này");
                    }
                    else if (data == 0) {
                        alert("Lỗi server");
                    }

            }
        });
    })
    function LoadInfoJoin() {
        const queryString = window.location.pathname;
        const urlParams = queryString.split("/");
         $.ajax({
            url: "/Manga/GetInfoJoin",
            type: "post",
           
            data: {
                id: urlParams[urlParams.length-1],
            },
             success: function (result) {
                 console.log(result);
                $("#ql").text(result.ql.UserName);
                $.each(result.dt, function (arrayID, element) {

                 $("#dt").append('<span class="label primary">'+element.UserName+'</span>,');
                });
                $.each(result.uc, function (arrayID, element) {

                 $("#uc").append('<span class="label primary">'+element.UserName+'</span>,');
                });
                 $.each(result.tm, function (arrayID, element) {

                     $("#tm").append('<div style="margin-bottom:7px;"> ' + element.Language + ' :<span class="label primary">'+element.UserName+'</span> </div>');
                });

            }
        });
    }
</script>
