
@model IEnumerable<MyWebsite.Models.Translation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .mr10 {
        margin-right: 20px;
    }
</style>
<div class="padding">
    <div class="m-b">
        <ol class="breadcrumb primary">
            <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lí bản dịch</li>
        </ol>
    </div>
    <div class="box black">
       

        <div class="box-body">
            <div class="table-responsive">
                <table ui-jp="dataTable" id="datatable" class="table table-striped b-t b-b black">
                    <thead>
                        <tr>
                            <th>Ảnh Bìa</th>
                            <th>Tên Truyện</th>
                            <th>Tác Giả</th>
                            <th>Trạng Thái</th>
                            <th>Ngày Tạo</th>
                            <th>Ngôn ngữ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">

                                <span>
                                    <img class="img-thumbnail" src="~/Cover/@item.Manga.CoverLink" style="max-width:120px;max-height:80px" />
                                </span>


                            </td>
                            <td class="center">
                                <a href="/Truyen/QuanLyChuong/@item.MangaId">
                                    <span>
                                        @item.Manga.FullName
                                    </span>
                                </a>
                            </td>
                            <td class="center">
                                @item.Manga.Author
                            </td>
                            <td class="center">
                                @item.Manga.Status.FullName
                            </td>
                            <td class="center">
                                @item.Manga.CreateAt
                            </td>
                            <td class="center">
                                @item.Language.FullName
                            </td>

                            <td>
                                @{
                                    if (item.Manga.Chapters.FirstOrDefault(m => m.Active) == null)
                                    {


                                        <i class="fa  fa-list fa-lg" style="margin-right:10px;color:cornflowerblue" title="truyện này chưa có chương nào"></i>
                                        <i class="fa fa-image fa-lg" style="margin-right:10px;color:red" title="truyện này chưa có chương nào"></i>
                                    }
                                    else
                                    {
                                        <a href="/TranslationManager/@item.TransationId/@item.Manga.Chapters.FirstOrDefault(m=>m.Active).ChapterId">
                                            <i class="fa  fa-list fa-lg" style="margin-right:10px;color:cornflowerblue" title="Duyệt thoai truyện "></i>
                                        </a>
                                        <a href="/ListAllowChapter/@item.TransationId">
                                            <i class="fa fa-image fa-lg" style="margin-right:10px;color:red" title="Duyệt chương truyện"></i>
                                        </a>
                                    }
                                }



                            </td>

                        </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>


