@model MyWebsite.Models.Page
@{
    ViewBag.Title = "PageDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="padding">
    <div class="m-b primary ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/Translation/ListManga">Quản lí bản dịch</a></li>
            <li class="breadcrumb-item active">Duyệt thoại</li>
        </ol>
    </div>
    <div class="box">
        <div class="box-header primary">
            <h2> @ViewBag.MangaFullName</h2>
            @*<span class="text-muted" >@ViewBag.Language</span>*@
            <input hidden id="Translation" value="@ViewBag.Traslation.TransationId" />
        </div>
        <div class="box-body m-b">
            <div class="row">
                <div class="col-sm-4 " style="padding-bottom:10px;">
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">
                            <span>Chương</span>

                        </label>
                         <select class="form-control select2" ui-jp="select2" ui-options="{theme: 'bootstrap'}" id="SelectChapter" name="SelectChapter">
                            @foreach (var item in ViewBag.chapterlist)
                            {
                                if (ViewBag.ChapterId != null && ViewBag.ChapterId == item.ChapterId)
                                {
                                    <option style="color:black" selected value="@item.ChapterId">@item.FullName</option>
                                }
                                else
                                {
                                    <option style="color:black" value="@item.ChapterId">@item.FullName</option>
                                }
                            }
                        </select>
                    </div>


                </div>
                <div class="col-sm-4" style="padding-bottom:10px;">
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">
                            <span>Trang:</span>

                        </label>
                         <select class="form-control select2" ui-jp="select2" ui-options="{theme: 'bootstrap'}" id="SelectPage" name="SelectPage">
                            @foreach (var item in ViewBag.listpage)
                            {
                                if (item.Key == Model.PageId)
                                {
                                    <option style="color:black" selected value="@item.Key">@item.Value</option>
                                }
                                else
                                {
                                    <option style="color:black" value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>

                </div>
            </div>
            <div class="row">
                <div id="DivCanvas" class="col-sm-6">
                    @if (ViewBag.PageClear != null)
                    {
                        <img id="girl" hidden src="~/PageLink/@ViewBag.PageClear.PageLink" />
                    }
                    else
                    {
                        <img id="girl" hidden src="~/PageLink/@Model.PageLink" />
                    }
                    <canvas id="canvas" style="border:1px solid #000000;">

                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                    <input hidden value="@Model.PageId" id="PageId" />
                </div>
                <div class="col-sm-6">
                    <div class="box ">
                        <div class="box-header primary">
                            <h3>Danh sách khung</h3>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i onclick="LoadTable(0)" class="material-icons md-18"></i>
                                        </a>

                                    </li>

                                </ul>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered  m-0" id="tblEntAttributes">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Lời thoại
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @if (Model.TextBoxes != null)
                                    {

                                        int count = 1;

                                        foreach (var item in Model.TextBoxes.Where(m => m.Active == true))
                                        {

                                            var Cor = item.Coordinate.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                            <tr>
                                                <td width="10%" class="Att " data-attDe="@item.Degree" data-attX="@Cor[0]" data-attY="@Cor[1]" data-attW="@item.Witdh" data-attH="@item.Height">@count </td>
                                                <td width="70%">
                                                    <select style="width:100%" class=" AttText form-control select2" ui-jp="select2" ui-options="{theme: 'bootstrap'}">
                                                    
                                                        @foreach (var text in item.Texts.Where(m => m.TranslationId == ViewBag.Traslation.TransationId))
                                                        {
                                                            if (text.Allow == true)
                                                            {
                                                                <option style="color:black" selected data-bold="@text.Bold" data-size="@text.FontSize" data-font="@text.Font.FullName" data-fontid="@text.FontId" data-Italic="@text.Italic" data-color="@text.ColorText" value="@text.TextId" id="@item.TextBoxId">@text.TextContent</option>
                                                            }
                                                            else
                                                            {
                                                                <option style="color:black" data-bold="@text.Bold" data-size="@text.FontSize" data-font="@text.Font.FullName" data-fontid="@text.FontId" data-Italic="@text.Italic" data-color="@text.ColorText" value="@text.TextId" id="@item.TextBoxId">@text.TextContent</option>

                                                            }
                                                        }
                                                    </select>
                                                </td>

                                                <td width="20%"><button data-textboxid="@item.TextBoxId" data-id="1" class="AttBtn btn btn-sm primary">Duyệt</button></td>

                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/LayoutUser/Translation/TranslationManager.js"></script>
}





