@{
    ViewBag.Title = "PageDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="padding">
    <form action="#" class="m-b-md">
        <div class="input-group input-group-lg">
            <span class="input-group-btn">
                <button id="Type" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="Người dùng">
                    Người dùng <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="TypeSelection" style="text-align:center">Người dùng</li>
                    <li class="TypeSelection" style="text-align:center">Truyện</li>
                </ul>
            </span>
            <input id="SearchInput" type="text" class="form-control" placeholder="Type keyword">

            <span class="input-group-btn">
                <button id="SearchButton" class="btn white" type="button">Tìm kiếm</button>
            </span>
        </div>
    </form>
    <div>
        <div class="result">
            <p hidden class="m-b-md"><strong>0</strong> Kết quả cho: <strong>á</strong></p>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane p-v-sm active" id="tab_1">
            <div id="class1" class="box m-t p-a-sm">

                <ul class="list">
                    <li class="list-item" style="border-bottom:1px solid black">
                        <div class="row">
                            <div class="box col-sm-2">
                                <div class="box-body ">
                                    <div class="img-responsive">
                                        <img src="~/Avatar/00.png" style="max-height:200px" />
                                    </div>

                                </div>
                            </div>
                            <div class="box col-sm-10">
                                <div class="box-header row" style="padding-left:0px">
                                    <h2 class="col-sm-10"><strong>tensei shitara slime datta ken: the ways of strolling in the demon country</strong></h2>
                                    <div class="col-sm-2">
                                        <button id="XinGiaNhap" name="1 tensei shitara slime datta ken: the ways of strolling in the demon country" class="btn btn-info" data-toggle="modal" data-target="#m-a-f">Xin gia nhập</button>
                                    </div>
                                </div>
                                <div class="box-body" style="padding:0px">
                                    <ul class="list">
                                        <li class="list-item" style="padding:0px">
                                            <span>Tác giả:</span>
                                            <span class="text-muted"> 123</span>
                                        </li>
                                        <li class="list-item" style="padding:0px">
                                            <span>Cập nhật:</span>
                                            <span class="text-muted"> 123</span>
                                        </li>
                                        <li class="list-item" style="padding:0px">
                                            <span>Lượt xem:</span>
                                            <span class="text-muted"> 123</span>
                                        </li>
                                        <li class="list-item" style="padding:0px">
                                            <span>Thể loại:</span>
                                            <span class="text-muted"> 123</span>
                                        </li>
                                        <li class="list-item" style="padding:0px">
                                            <span>Mô tả:</span>
                                            <span class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam-0 m-b-smitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementu</span>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

        <div id="m-a-f-X" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xin gia nhập</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input hidden id="MangaId" name="MangaId" />
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">
                                    <span>Tên Truyện</span>
                                    <span style="color:red">(*)</span>
                                </label>
                                <div class="col-sm-8">

                                    <input style="overflow:hidden;text-overflow: ellipsis" disabled id="FullName" name="FullName" class="form-control" type="text" value="tensei shitara slime datta ken: the ways of strolling in the demon country" />
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">
                                    <span>Vị trí</span>
                                    <span style="color:red">(*)</span>
                                </label>
                                <div class="col-sm-8">

                                    <select id="SelectRole" class="form-control select2-bootstrap-append">
                                        @foreach (var item in ViewBag.ListRole)
                                        {
                                            <option value="@item.Id">@item.FullName</option>
                                        }
                                    </select>
                                </div>

                            </div>
                            <div id="SelectLanguage" style="display:none" class="form-group row">
                                <label class="col-sm-4 form-control-label">
                                    <span>Ngôn ngữ</span>
                                    <span style="color:red">(*)</span>
                                </label>
                                <div class="col-sm-8">
                                    <select id="Language" class="form-control select2-bootstrap-append">
                                        @foreach (var item in ViewBag.ListLanguage)
                                        {
                                            <option value="@item.LanguageId">@item.FullName</option>
                                        }
                                    </select>

                                </div>

                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Hủy</button>
                        <button id="Join" type="button" class="btn danger p-x-md" data-dismiss="modal">Xin gia nhập</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
        <div id="m-a-f-M" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mời gia nhập</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input hidden id="AccountId" name="AccountId" />
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">
                                    <span>Tên người</span>
                                    <span style="color:red">(*)</span>
                                </label>
                                <div class="col-sm-8">

                                    <input style="overflow:hidden;text-overflow: ellipsis" disabled id="UserName" name="UserName" class="form-control" type="text" value="tensei shitara slime datta ken: the ways of strolling in the demon country" />
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">
                                    <span>Tên Truyện</span>
                                    <span style="color:red">(*)</span>
                                </label>
                                <div class="col-sm-8">
                                    <select id="SelectManga" class="form-control select2-bootstrap-append">
                                        @foreach (var item in ViewBag.ListManga)
                                        {
                                            <option value="@item.MangaId">@item.Manga.FullName</option>
                                        }
                                    </select>

                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">
                                    <span>Vị trí</span>
                                    <span style="color:red">(*)</span>
                                </label>
                                <div class="col-sm-8">

                                    <select id="SelectRole" class="form-control select2-bootstrap-append">
                                        @foreach (var item in ViewBag.ListRole)
                                        {
                                            <option value="@item.Id">@item.FullName</option>
                                        }
                                    </select>
                                </div>

                            </div>
                            <div id="SelectLanguage" style="display:none" class="form-group row">
                                <label class="col-sm-4 form-control-label">
                                    <span>Ngôn ngữ</span>
                                    <span style="color:red">(*)</span>
                                </label>
                                <div class="col-sm-8">
                                    <select id="Language" class="form-control select2-bootstrap-append">
                                        @foreach (var item in ViewBag.ListLanguage)
                                        {
                                            <option value="@item.LanguageId">@item.FullName</option>
                                        }
                                    </select>

                                </div>

                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Hủy</button>
                        <button id="Invite" type="button" class="btn danger p-x-md" data-dismiss="modal">Mời gia nhập</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".TypeSelection").click(function () {
                $("#Type").attr("value", this.textContent);
                $("#Type").html(this.textContent);
            })
            $("#SearchButton").click(function () {
                let content = "";
                let result1 = "";
                if ($("#Type").val() == "Người dùng") {
                    $.ajax({
                        url: "/Account/Search",
                        type: "post",
                        dataType: "json",
                        data: {

                            UserName: $("#SearchInput").val()
                        },
                        success: function (data) {
                            $("#class1").empty();
                            $(".result").empty();
                            result1 += '<p class="m-b-md"><strong>' + data.length + '</strong> Kết quả cho: <strong>' + $("#SearchInput").val() + '</strong></p>';

                            $(".result").append(result1);
                            if (data.length > 0) {

                                $("#class1").css("text-align", "left");
                                for (let i = 0; i < data.length; i++) {
                                    content += '<li class="list-item" style="border-bottom:1px solid black">';
                                    content += ' <div class="row">';
                                    content += '<div class="box col-sm-2"><div class="box-body ">';
                                    content += '  <div class="img-responsive">';
                                    content += '  <img src="/Avatar/' + data[i].AvatarLink + '" style="max-height:200px" />';
                                    content += ' </div></div></div>';
                                    content += ' <div class="box col-sm-10">';
                                   
                                    content += '   <div class="box-header row" style="padding-left:0px"> ';
                                    content += ' <h2 class="col-sm-10"><strong>' + data[i].UserName + '</strong></h2> ';
                                    content += ' <div class="col-sm-2"><button id="MoiGiaNhap" name="'+ data[i].AccountId +";" + data[i].UserName + '" class="btn btn-info" data-toggle="modal" data-target="#m-a-f-M">Mời gia nhập</button> </div> </div> ';
                                    content += '<div class="box-body" style="padding:0px">';
                                    content += '<ul class="list">';
                                    content += '<li class="list-item" style="padding:0px"><span>Tác giả:</span><span class="text-muted"> ' + data[i].Author + '</span></li>';
                                    content += '<li class="list-item" style="padding:0px"><span>Cập nhật:</span><span class="text-muted"> ' + data[i].CreateAt + '</span></li> ';
                                    content += '<li class="list-item" style="padding:0px"><span>Lượt xem:</span><span class="text-muted"> ' + data[i].View + '</span></li> ';
                                    content += '<li class="list-item" style="padding:0px"><span>Thể loại:</span><span class="text-muted"> '+data[i].Genre+'</span></li> ';
                                    content += '<li class="list-item" style="padding:0px"><span>Mô tả:</span><span class="text-muted"> ' + data[i].Description + '</span></li> ';
                                    content += '  </ul> </div></div></div></li>';
                                     }
                                $("#class1").append(content);

                            }
                            else {
                                $("#class1").css("text-align", "center");
                                content += '<h3> Nothing to show </h3>';
                                $("#class1").append(content);
                            }
                            
                        }
                    });
                }
                else {
                    console.log($("#SearchInput").val());
                    $.ajax({
                        url: "/Manga/Search",
                        type: "post",
                        dataType: "json",
                        data: {

                            Name: $("#SearchInput").val()
                        },
                        success: function (data) {
                            console.log(data);
                            $("#class1").empty();
                            $(".result").empty();
                            result1 += '<p class="m-b-md"><strong>' + data.length + '</strong> Kết quả cho: <strong>' + $("#SearchInput").val() + '</strong></p>';

                            $(".result").append(result1);
                            if (data.length > 0) {
                                console.log(data);
                                $("#class1").css("text-align", "left");
                                for (let i = 0; i < data.length; i++) {
                                    
                                    content += '<li class="list-item" style="border-bottom:1px solid black">';
                                    content += ' <div class="row">';
                                    content += '<div class="box col-sm-2"><div class="box-body ">';
                                    content += '  <div class="img-responsive">';
                                    content += '  <img src="/Cover/' + data[i].CoverLink + '" style="max-height:200px" />';
                                    content += ' </div></div></div>';
                                    content += ' <div class="box col-sm-10">';
                                   
                                    content += '   <div class="box-header row" style="padding-left:0px"> ';
                                    content += ' <h2 class="col-sm-10"><strong>' + data[i].FullName + '</strong></h2> ';
                                    content += ' <div class="col-sm-2"><button id="XinGiaNhap" name="'+ data[i].MangaId +";" + data[i].FullName + '" class="btn btn-info" data-toggle="modal" data-target="#m-a-f-X">Xin gia nhập</button> </div> </div> ';
                                    content += '<div class="box-body" style="padding:0px">';
                                    content += '<ul class="list">';
                                    content += '<li class="list-item" style="padding:0px"><span>Tác giả:</span><span class="text-muted"> ' + data[i].Author + '</span></li>';
                                    content += '<li class="list-item" style="padding:0px"><span>Cập nhật:</span><span class="text-muted"> ' + data[i].CreateAt + '</span></li> ';
                                    content += '<li class="list-item" style="padding:0px"><span>Lượt xem:</span><span class="text-muted"> ' + data[i].View + '</span></li> ';
                                    content += '<li class="list-item" style="padding:0px"><span>Thể loại:</span><span class="text-muted"> '+data[i].Genre+'</span></li> ';
                                    content += '<li class="list-item" style="padding:0px"><span>Mô tả:</span><span class="text-muted"> ' + data[i].Description + '</span></li> ';
                                    content += '  </ul> </div></div></div></li>';
                                     }
                                $("#class1").append(content);

                            }
                            else {
                                $("#class1").css("text-align", "center");
                                content += '<h3> Nothing to show </h3>';
                                $("#class1").append(content);
                            }
                        }
                    });
                }
            })
            $(document).on("click","#XinGiaNhap", function () {
                let str = $(this).attr("name");
                let res = str.split(";");
                $("#MangaId").val(res[0]);
                $("#FullName").val(res[1]);
            })
            $(document).on("click","#MoiGiaNhap", function () {
                let str = $(this).attr("name");
                let res = str.split(";");
                $("#AccountId").val(res[0]);
                $("#UserName").val(res[1]);
            })
            $("#SelectRole").on("change", function () {
                if ($(this).val().trim() == "TM")
                    $("#SelectLanguage").show("slow");
                else
                    $("#SelectLanguage").fadeOut();

            })
            $("#Join").click(function () {
                $.ajax({
                    url: "/Manga/Join",
                    type: "post",
                    dataType: "json",
                    data: {

                        id: +$("#MangaId").val(),
                        role: $("#SelectRole").val(),
                        language: +$("#Language").val(),
                        type: 1
                       
                    },
                    success: function (data) {
                        if (data == 1) {
                            alert("Xin gia nhập thành công");
                        }
                        else
                            if (data == 2) {
                                alert("Bạn đã xin gia nhập vị trí này");
                            }
                            else if (data == 0) {
                                alert("Lỗi server");
                            }
                                
                    }
                });
            })
            $("#Invite").click(function () {
                $.ajax({
                    url: "/Manga/Join",
                    type: "post",
                    dataType: "json",
                    data: {

                        id: +$("#SelectManga").val(),
                        role: $("#SelectRole").val(),
                        language: +$("#Language").val(),
                        AccountId: +$("#AccountId").val(),
                        type: 0
                       
                    },
                    success: function (data) {
                        if (data == 1) {
                            alert("Mời gia gia nhập thành công");
                        }
                        else
                            if (data == 2) {
                                alert("Bạn đã mời người này vào vị trí này");
                            }
                            else if (data == 0) {
                                alert("Lỗi server");
                            }
                                
                    }
                });
            })
        })


    </script>
}