@model MyWebsite.Models.Chapter

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
</style>
<div class="padding">
    <div class="m-b black rounded">
        <ol class="breadcrumb primary">
            <li class="breadcrumb-item"><a href="/Account/Home">Home</a></li>
            <li class="breadcrumb-item"><a href="/EditorList">Danh sách truyện</a></li>
            <li class="breadcrumb-item active">Tải lên clear-text</li>
        </ol>
    </div>
   
    <div>
       
        <div class="row" style="padding-bottom:10px;padding-left:0px">
            <div class="col-sm-4">
                Chương:
                <select class="form-control c-select" id="ChapterList" name="ChapterList">
                    @foreach (var item in ViewBag.chapterlist)
                    {
                        if (item.ChapterId == Model.ChapterId)
                        {
                            <option style="color:black" value="@item.ChapterId" selected>@item.FullName</option>
                        }
                        else
                        { 
                        <option style="color:black" value="@item.ChapterId">@item.FullName</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-4">
                Loại trang:
                <select class="form-control c-select" id="CategoryId" name="CategoryId">
                    @if (ViewBag.CategoryId == 1)
                    {
                        <option style="color:black" value="1" selected>Trang Raw</option>
                        <option  style="color:black" value="2">Trang Clear-text đã tải lên</option>
                    }
                    else
                    {
                        <option style="color:black" value="1">Trang Raw</option>
                        <option style="color:black" value="2" selected>Trang Clear-text đã tải lên</option>
                    }

                </select>
            </div>
        </div>


        <div class="tab-content pos-rlt">





            <div class="row">
                @foreach (var item in Model.Pages.Where(m=>m.CategoryId == ViewBag.CategoryId).OrderBy(m=>m.OrderNumber))
                {
                    if (item.StatusActive == 0 && ViewBag.CategoryId == 1)
                    {
                        <div id=@("Raw" + item.PageId) class="raw col-xs-6 col-sm-4 col-md-3" style="padding-left:12px;padding-right:12px">
                            <div class="box p-a-xs black">

                                <form id=@("AddNewPage" + item.PageId) enctype="multipart/form-data">

                                    <input type="hidden" name="PageId" id="PageId" value="@item.PageId" />

                                    <a href="~/PageLink/@item.PageLink"><img style="min-height:500px; " data-target="#myModal" id=@item.PageId src="~/PageLink/@item.PageLink" alt="" class="img-responsive"></a>
                                    <div class="p-a-sm">
                                        <div class=" text-ellipsis">
                                            <span>trang @item.OrderNumber</span>

                                            <input hidden type="file" id="@("file"+item.PageId)" name="fileupload" onchange="Upload(this)" />

                                        </div>


                                        <div style="padding-bottom:0px" class="box-footer row">
                                            <button id="@item.PageId" type="button" class="UploadButton md-btn md-raised m-b-sm w-xs accent" style="display: block;margin-left: auto;margin-right: auto;">Tải lên</button>
                                            <button type="button" class="md-btn md-raised m-b-sm w-xs primary" style="display: block;margin-left: auto;margin-right: auto;"><a download href="~/PageLink/@item.PageLink">Tải xuống</a></button>
                                            <button onclick="SavePage(this)" type="button" disabled id=@("Save" + @item.PageId) class="md-btn md-raised m-b-sm w-xs info" style="display: block;margin-left: auto;margin-right: auto;">Lưu</button>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>

                    }
                    else
                    
                    {

                        <div id=@("Clear-text" + item.PageId) class="clear-text col-xs-6 col-sm-4 col-md-3" style="padding-left:12px;padding-right:12px">
                            <div class="box p-a-xs black">
                                <form id=@("UpdatePage" + item.PageId) enctype="multipart/form-data">

                                    <input type="hidden" name="PageId" id="PageId" value="@item.PageId" />

                                    <a href="~/PageLink/@item.PageLink"><img style=" min-height:500px" id=@item.PageId src="~/PageLink/@item.PageLink" alt="" class="img-responsive"></a>
                                    <div class="p-a-sm">
                                        <div class="text-ellipsis">
                                            trang @item.OrderNumber
                                            <input hidden style="margin-left:10px" type="file" id="@("file"+item.PageId)" name="fileupload" onchange="Upload(this)" />
                                            <br />
                                            @if (item.StatusActive == 1)
                                            {
                                                <span class="text-muted"> Chưa được duyệt</span>
                                            }
                                            else
                                            {
                                                <span class="text-muted">Đã được duyệt</span>
                                            }
                                        </div>


                                        <div style="padding-bottom:0px" class="box-footer row">
                                            @if (item.StatusActive == 1)
                                            {
                                                <button id="@item.PageId" type="button" class="UploadButton md-btn md-raised m-b-sm w-xs accent" style="display: block;margin-left: auto;margin-right: auto;">Chỉnh sửa</button>
                                            }
                                            else
                                            {
                                                <button disabled type="button" class="md-btn md-raised m-b-sm w-xs accent" style="display: block;margin-left: auto;margin-right: auto;">Tải lên</button>
                                            }

                                            <button  type="button" class="md-btn md-raised m-b-sm w-xs primary" style="display: block;margin-left: auto;margin-right: auto;"><a download href="~/PageLink/@item.PageLink">Tải xuống</a></button>
                                            <button onclick="UpdatePage(this)" type="button" disabled id=@("Save" + @item.PageId) class="md-btn md-raised m-b-sm w-xs info" style="display: block;margin-left: auto;margin-right: auto;">Lưu</button>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>

                    }
                }


            </div>



        </div>

    </div>
</div>



    <script src="~/LayoutUser/Contribute/Editor.js"></script>



