@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model MyWebsite.ViewModels.Account.AccountModel
<div class="item">
    <div class="item-bg">
        <img src="~/Avatar/@Model.AvatarLink" class="blur opacity-3" />

    </div>
    <div class="p-a-md">
        <div class="row m-t">
            <div class="col-sm-7">
                <a data-toggle="modal" data-target="#m" class="pull-left m-r-md">
                    <span class="avatar w-128">
                        <img src="~/Avatar/@Model.AvatarLink">
                        <i class="on b-white"></i>
                    </span>
                </a>

                <div class="clear m-b">
                    <h3 class="m-0 m-b-xs">@Model.FullName</h3>
                    <p class="text-muted"><span class="m-r">UX/UI Director</span> <small><i class="fa fa-map-marker m-r-xs"></i>London, UK</small></p>
                    <div class="block clearfix m-b">
                        @if (Model.FacebookLink != null)
                        {
                            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook indigo"></i>
                            </a>
                        }
                        @if (Model.TwitterLink != null)
                        {
                            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter light-blue"></i>
                            </a>
                        }
                        @if (Model.InstagramLink != null)
                        {
                            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-instagram red"></i>
                            </a>
                        }
                    </div>
                    <a href="" data-toggle="modal" data-target="#Info" class="btn btn-sm warn btn-rounded m-b">Mời gia nhập</a>
                </div>
            </div>
            <div class="col-sm-5">
                <p class="text-md profile-status">@Model.Status</p>
            </div>
        </div>
    </div>
</div>
<div class="dker p-x">
    <div class="row">
        <div class="col-sm-6 push-sm-6">
            <div class="p-y text-center text-sm-right">
                <a href="" class="inline p-x text-center">
                    <span class="h4 block m-0">2k</span>
                    <small class="text-xs text-muted">Followers</small>
                </a>
                <a href="" class="inline p-x b-l b-r text-center">
                    <span class="h4 block m-0">250</span>
                    <small class="text-xs text-muted">Following</small>
                </a>
                <a href="" class="inline p-x text-center">
                    <span class="h4 block m-0">89</span>
                    <small class="text-xs text-muted">Activities</small>
                </a>
            </div>
        </div>
        
    </div>
</div>
<div class="padding">
    <div class="row">
        <div class="col-sm-8 col-lg-9">

            <div class="row m-b">
                <div class="col-xs-6">
                    <small class="text-muted">Số điện thoại</small>
                    <div class="_500">@Model.PhoneNumber</div>
                </div>
                <div class="col-xs-6">
                    <small class="text-muted">Email</small>
                    <div class="_500">@Model.Email</div>
                </div>
            </div>
            <div class="row m-b">
                <div class="col-xs-6">
                    <small class="text-muted">Điểm</small>
                    <div class="_500">1000</div>
                </div>
                <div class="col-xs-6">
                    <small class="text-muted">Vai trò chính</small>
                    <div class="_500">Dịch truyện</div>
                </div>
            </div>
            <div>
                <small class="text-muted">Ghi chú</small>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue.</div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3">
            <div>
                <div class="box">
                    <div class="box-header">
                        <h3>Truyện đã tham gia</h3>
                    </div>
                    <div class="box-divider m-0"></div>
                    <ul class="list no-border p-b">
                        @foreach (var item in ViewBag.Join)
                        {
                            <li class="list-item">
                                <a herf="" class="list-left">

                                    <img class="img-rounded w-40" src="~/Cover/@item.CoverLink" alt="...">


                                </a>
                                <div class="list-body">
                                    <div><a href="">@item.MangaName</a></div>
                                    <small class="text-muted text-ellipsis">@item.RoleList</small>
                                </div>
                            </li>
                        }


                    </ul>
                </div>
                @*<div class="box info dk">
                    <div class="box-body">
                        <a href="" class="pull-left m-r">
                            <img src="../assets/images/a0.jpg" class="img-circle w-40">
                        </a>
                        <div class="clear">
                            <a href="">Mike Mcalidek</a>
                            <small class="block text-muted">2,415 followers / 225 tweets</small>
                            <a href="" class="btn btn-sm btn-rounded btn-info m-t-xs"><i class="fa fa-twitter m-t-xs"></i> Follow</a>
                        </div>
                    </div>
                </div>*@
                @*<div class="box">
                    <div class="box-header">
                        <h2>Thông báo mới nhất</h2>
                    </div>
                    <div class="box-divider m-0"></div>
                    <ul class="list">
                        <li class="list-item">
                            <div class="list-body">
                                <p>Wellcome <a href="" class="text-info">Drew Wllon</a> and play this web application template, have fun1 </p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-body">
                                <p>Morbi nec <a href="" class="text-info">Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-body">
                                <p><a href="" class="text-info">Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                            </div>
                        </li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
        </div>


@*<script>
        var file;
        function readURL(input) {
            console.log(input.files[0]);
            if (input.files && input.files[0]) {

                var reader = new FileReader();
                file = input.files[0];
                reader.onload = function (e) {
                    $("#Imganhbia").prop("src", reader.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        };
        $("#uploadbutton").click(function () {
            $("#AnhBia").click();
        });
        $("#Editval").on("keyup", function () {
            let text = $(this).val();
            if (text.length != 0)
                $("#EditStatus").html("Lưu");
            else
                $("#EditStatus").html("Chỉnh sửa");

        })
        $("#EditStatus").on("click", function () {
            if ($("#EditStatus").html() == "Lưu") {
                $.ajax({
                    type: 'post',
                    url: '/Account/UpdateStatus',
                    data: {
                        Status: $("#Editval").val(),
                        AccountId: $("#AccountId").val()
                    },
                    success: function (status) {
                        if (!status) {
                            alert("Vui lòng thử lại sau");
                        }
                        else {
                            $(".profile-status").html($("#Editval").val());
                            $("#EditStatus").html("Chỉnh sửa");
                        }
                    },

                    error: function () {
                        alert("Cập nhật thất bại, vui lòng thử lại sau!");
                    }
                });
            }
        })
        $("#UploadImageButton").on("click", function () {
            var formData = new FormData();
            formData.append('file', file);
            formData.append('AccountId', $("#AccountId").val());
            console.log(file);
            $.ajax({
                type: 'post',
                url: '/Account/UpdateAva',
                data: formData,
                success: function (status) {
                    if (!status) {
                        alert("Vui lòng thử lại sau");
                    }
                    else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false,
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        })
        $('#UpdatePassword').on("click", function () {
            $.ajax({
                url: '/Account/UpdatePassWord',
                type: "POST",
                data: {
                    AccountId: $("#AccountId").val(),
                    OldPassWord: $("#OldPassWord").val(),
                    PassWord: $("#PassWord").val()
                },
                success: function (result) {
                    if (result == 1) {
                        alert("Cập nhật thành công");
                    }
                    else
                        alert("Cập nhật thất bại, vui lòng thử lại sau");
                },

                error: function (result) {
                    alert("Cập nhật thất bại, vui lòng thử lại sau");
                }

            });
            return false;
        });
        $("#formUpdateInfo").submit(function (e) {
            console.log($("#formUpdateInfo").serialize());
            e.preventDefault();
            $.ajax({
                url: "/Account/UpdateInfo",
                type: 'post',
                dataType: 'application/json',
                data: $("#formUpdateInfo").serialize(),
                success: function (result) {
                    if (result == 1) {
                        alert("Cập nhật thành công!");

                    }
                    else
                        alert("Cập nhật thất bại, vui lòng thử lại sau!");
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        })
    </script>*@

