@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using MyWebsite.ViewModels.Account;
@model MyWebsite.ViewModels.Account.AccountModel
@{
    AccountModel accountModel = (AccountModel)HttpContext.Current.Session["Userinfo"];
}

<div id="m" class="modal" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content black">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Cập nhật hình ảnh</h5>
                <button id="uploadbutton" type="button" class="btn primary p-x-md">Tải ảnh lên</button>
            </div>
            <div class="modal-body text-center p-lg">
                <input id="AnhBia" hidden type="file" onchange="readURL(this);" />
                <img id="Imganhbia" class="img-responsive" src="~/Avatar/@accountModel.AvatarLink">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn danger p-x-md" data-dismiss="modal">Hủy</button>
                <button type="button" id="UploadImageButton" class="btn primary p-x-md">Lưu</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="Info" class="modal" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content black">
            <form id="formUpdateInfo" role="form" class="p-a-md ">
                <div class="modal-header">
                    <h5 class="modal-title text-primary">Cập nhật thông tin</h5>

                </div>
                <div class="modal-body  p-lg">

                    <input id="AccountId" class="form-control" name="AccountId" hidden value="@accountModel.AccountId" />
                    <div class="form-group">
                        <label>Tên</label>
                        <input name="FullName" type="text" value="@accountModel.FullName" class="form-control">
                    </div>

                    <div class=" row m-b">
                        <div class="form-group col-sm-6">
                            <label>Số điện thoại</label>
                            <input name="PhoneNumber" type="text" value="@accountModel.PhoneNumber" class="form-control">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Email</label>
                            <input name="Email" type="text" value="@accountModel.Email" class="form-control">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label>FacebookLink</label>
                        <input name="FacebookLink" type="text" value="@accountModel.FacebookLink" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>TwitterLink</label>
                        <input name="TwitterLink" type="text" value="@accountModel.TwitterLink" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>InstagramLink</label>
                        <input name="InstagramLink" type="text" value="@accountModel.InstagramLink" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea name="Note" class="form-control has-value" rows="3" placeholder="Type something...">@accountModel.Note</textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Hủy</button>
                    <button class="btn danger p-x-md">Lưu</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="Pass" class="modal" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật mật khẩu</h5>
            </div>
            <form id="UpdatePasswordform" ui-jp="parsley" role="form" class=" p-a-0">
                <div class="modal-body p-lg">
                    <div class="p-a-md">
                        <div class="clearfix m-b-lg">

                            <div class="form-group">
                                <label>Mật khẩu cũ</label>
                                <input id="OldPassWord" name="OldPassWord" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                <input id="PassWord" name="PassWord" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" data-parsley-equalto="#PassWord" data-parsley-equalto-message="Mật khẩu không trùng khớp" required="" data-parsley-id="10">
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Hủy</button>
                        <button id="UpdatePassword" type="button" class="btn danger p-x-md">Lưu</button>
                    </div>

                </div><!-- /.modal-content -->
            </form>
        </div>
    </div>
</div>
<div class="item" data-step="2" data-intro="XYZ">
    <div class="item-bg">
        <img src="~/Avatar/@accountModel.AvatarLink" class="blur opacity-3" />

    </div>
    <div class="p-a-md">
        <div class="row m-t">
            <div class="col-sm-7">
                <a data-toggle="modal" data-target="#m" class="pull-left m-r-md">
                    <span class="avatar w-128">
                        <img src="~/Avatar/@accountModel.AvatarLink">
                        <i class="on b-white"></i>
                    </span>
                </a>

                <div class="clear m-b">
                    <h3 class="m-0 m-b-xs">@accountModel.FullName</h3>
                    <p class="text-muted"><span class="m-r">UX/UI Director</span> <small><i class="fa fa-map-marker m-r-xs"></i>London, UK</small></p>
                    <div class="block clearfix m-b">
                        @if (accountModel.FacebookLink != null)
                        {
                            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook indigo"></i>
                            </a>
                        }
                        @if (accountModel.TwitterLink != null)
                        {
                            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter light-blue"></i>
                            </a>
                        }
                        @if (accountModel.InstagramLink != null)
                        {
                            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-instagram red"></i>
                            </a>
                        }
                    </div>
                    <a href="" data-toggle="modal" data-target="#Info" class="btn btn-sm primary btn-rounded m-b">Cập nhật thông tin</a>
                    <a href="" data-toggle="modal" data-target="#Pass" class="btn btn-sm primary btn-rounded m-b">Cập nhật mật khẩu</a>
                    <a class="btn btn-sm primary btn-rounded m-b" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="padding">
    <div class="row">
       
        <div class="col-sm-8 col-lg-9">
            
                


              
                    <div class="row m-b">
                        <div class="col-xs-6">
                            <small class="text-muted">Số điện thoại</small>
                            <div class="_500">@accountModel.PhoneNumber</div>
                        </div>
                        <div class="col-xs-6">
                            <small class="text-muted">Email</small>
                            <div class="_500">@accountModel.Email</div>
                        </div>
                    </div>
                    <div class="row m-b">
                        <div class="col-xs-6">
                            <small class="text-muted">Điểm</small>
                            <div class="_500">1000</div>
                        </div>
                        <div class="col-xs-6">
                            <small class="text-muted">Vai trò chính</small>
                            <div class="_500">Dịch truyện</div>
                        </div>
                    </div>
                    <div data-step="1" data-intro="ABC">
                        <small class="text-muted">Ghi chú</small>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue.</div>
                    </div>
               
            
        </div>
        @*Truyện đã tham gia*@
        <div class="col-sm-4 col-lg-3" data-step="3" data-intro="1">
            <div>
                <div class="box black">
                    <div class="box-header">
                        <h3><strong class="text text-primary">Truyện đã tham gia</strong></h3>
                    </div>
                    <div class="box-divider m-0"></div>
                    <ul class="list no-border p-b">
                        @foreach (var item in ViewBag.Join)
                        {
                            <li class="list-item">
                                <a herf="" class="list-left">

                                    <img class="img-rounded w-40" src="~/Cover/@item.CoverLink" alt="...">


                                </a>
                                <div class="list-body">
                                    <div><a href="" class="text-ellipsis">@item.MangaName</a></div>
                                    <small class="text-muted">@item.RoleList</small>
                                </div>
                            </li>
                        }


                    </ul>
                </div>
                @*<div class="box info dk">
                    <div class="box-body">
                        <a href="" class="pull-left m-r">
                            <img src="../assets/images/a0.jpg" class="img-circle w-40">
                        </a>
                        <div class="clear">
                            <a href="">Mike Mcalidek</a>
                            <small class="block text-muted">2,415 followers / 225 tweets</small>
                            <a href="" class="btn btn-sm btn-rounded btn-info m-t-xs"><i class="fa fa-twitter m-t-xs"></i> Follow</a>
                        </div>
                    </div>
                </div>*@
                @*<div class="box">
                    <div class="box-header">
                        <h2>Thông báo mới nhất</h2>
                    </div>
                    <div class="box-divider m-0"></div>
                    <ul class="list">
                        <li class="list-item">
                            <div class="list-body">
                                <p>Wellcome <a href="" class="text-info">Drew Wllon</a> and play this web application template, have fun1 </p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-body">
                                <p>Morbi nec <a href="" class="text-info">Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-body">
                                <p><a href="" class="text-info">Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                            </div>
                        </li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
</div>


<script src="~/LayoutUser/Account/UserManagment.js">

</script>

