<!DOCTYPE html>
<html lang="vi" style="font-family:'Times New Roman', Times, serif">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="M_Adnan">
    <title>M</title>
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link href="~/LayoutHome/rs-plugin/css/settings.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="~/LayoutHome/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/LayoutHome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/main.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/style.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/responsive.css" rel="stylesheet" />
    <link href="~/LayoutHome/font/flaticon.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/contain.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/stylemanga.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/headroom.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/LayoutHome/css/mycss.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=vietnamese" rel="stylesheet">

    <!-- JavaScripts -->
    <script src="~/LayoutHome/js/modernizr.js"></script>
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Poppins:300,400,500,600,700|Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=vietnamese" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        }
    </style>
</head>
<body style="font-family: 'Roboto', sans-serif;">
    <!-- LOADER -->
    @*<div id="loader">
            <div class="position-center-center">
                <div class="ldr"></div>
            </div>
        </div>*@
    <!-- Wrap -->
    <div class="bg" id="wrap" style="background-color:black;">
        <!-- header -->
        <header style="height:60px; background-color:#178b8a">
            <div class="sticky">
                <div class="container-full">

                    <!-- Logo -->
                    @*<div class="logo"> <a href="index.html"><img class="img-responsive" src="images/logo.svg" alt=""></a> </div>*@
                    <nav class="navbar ownmenu navbar-expand-lg ">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span></span> </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="nav">
                                <!-- TRANG CHỦ -->
                                <li>
                                    <a href="/Home/Index">Trang chủ</a>
                                </li>
                                <!-- THỂ LOẠI MENU -->
                                <li class="dropdown megamenu">
                                    <a href="#." class="dropdown-toggle" data-toggle="dropdown">Thể loại</a>
                                    <div class="dropdown-menu">
                                        <div class="row">
                                            <!-- Shop Pages -->
                                            <ul style="display:flex; width:80%; margin:auto;flex-wrap:wrap;">
                                                @Html.Action("Genre", "Home")
                                                @*<li class="col-md-2"> ABC </li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- TRUYỆN NỔI BẬT -->
                                @*<li> <a href="/Home/TruyenNoiBat"> NỔI BẬT</a> </li>*@
                                <!-- ĐĂNG KÝ / ĐĂNG NHẬP -->
                                @Html.Partial("_LoginPartial")
                                <!-- Hộp tìm kiếm -->
                                <li class="search">
                                    <form action="/SearchManga" method="get">
                                        <input type="text" name="keyword" id="txtKeyword" placeholder="Gõ từ khóa" /><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </li>
                                @*<li id="txtTimKiem" class="search">
                                        @using (Html.BeginForm("KetQuaTimKiem", "TimKiem"))
                                        {
                                            @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Nhập từ khóa tìm kiếm" })
                                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        }
                                    </li>*@
                            </ul>
                        </div>
                    </nav>

                    <!-- Curency -->
                    @*<div class="curency">
                            <a href="#." class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> VN<i class="fa fa-angle-down"></i> </a>
                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">VN</a> <a class="dropdown-item" href="#">USD</a> </div>
                        </div>*@
                </div>
            </div>
            @*<div class="clearfix"></div>*@
        </header>
        <!-- Content -->
        <div id="content" class="content">
            <div class="container">
                <!-- Swiper -->
                <div class="slide">
                    <h3 class="title update-slide">POPULAR MANGA</h3>
                    <div class="owl-carousel owl-theme" style="background-color:white">
                        @Html.Action("Slide", "Home")
                    </div>
                </div>

                <div class="main-wrapper" style="margin-top:10px;">
                    @RenderBody()
                    <div class="middleCol">
                        <div style="clear: both"></div>
                        @Html.Action("NewManga", "Home")
                        @Html.Action("Fbpage","Home")
                        @*<div class="panel-category">
                                <h3 class="panel-category-title">GENRES</h3>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><a rel="nofollow" class="ctg-select" href="https://mangakakalot.com/manga_list?type=latest&category=all&state=all&page=1">Latest</a></td>
                                            <td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=newest&category=all&state=all&page=1">Newest</a></td>
                                            <td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=topview&category=all&state=all&page=1">Top view</a></td>
                                        </tr>
                                        <tr class="bordertop">
                                            <td><a rel="nofollow" class="ctg-select" href="https://mangakakalot.com/manga_list?type=latest&category=all&state=all&page=1">ALL</a></td>
                                            <td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=all&state=completed&page=1">Completed</a></td>
                                            <td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=all&state=ongoing&page=1">Ongoing</a></td>
                                        </tr>
                                        <tr class="bordertop"><td><a rel="nofollow" class="ctg-select" href="https://mangakakalot.com/manga_list?type=latest&category=all&state=all&page=1">ALL</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=2&state=all&page=1" title="Action" />Action</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=3&state=all&page=1" title="Adult" />Adult</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=4&state=all&page=1" title="Adventure" />Adventure</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=6&state=all&page=1" title="Comedy" />Comedy</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=7&state=all&page=1" title="Cooking" />Cooking</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=9&state=all&page=1" title="Doujinshi" />Doujinshi</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=10&state=all&page=1" title="Drama" />Drama</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=11&state=all&page=1" title="Ecchi" />Ecchi</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=12&state=all&page=1" title="Fantasy" />Fantasy</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=13&state=all&page=1" title="Gender bender" />Gender bender</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=14&state=all&page=1" title="Harem" />Harem</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=15&state=all&page=1" title="Historical" />Historical</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=16&state=all&page=1" title="Horror" />Horror</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=45&state=all&page=1" title="Isekai" />Isekai</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=17&state=all&page=1" title="Josei" />Josei</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=44&state=all&page=1" title="Manhua" />Manhua</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=43&state=all&page=1" title="Manhwa" />Manhwa</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=19&state=all&page=1" title="Martial arts" />Martial arts</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=20&state=all&page=1" title="Mature" />Mature</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=21&state=all&page=1" title="Mecha" />Mecha</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=22&state=all&page=1" title="Medical" />Medical</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=24&state=all&page=1" title="Mystery" />Mystery</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=25&state=all&page=1" title="One shot" />One shot</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=26&state=all&page=1" title="Psychological" />Psychological</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=27&state=all&page=1" title="Romance" />Romance</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=28&state=all&page=1" title="School life" />School life</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=29&state=all&page=1" title="Sci fi" />Sci fi</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=30&state=all&page=1" title="Seinen" />Seinen</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=31&state=all&page=1" title="Shoujo" />Shoujo</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=32&state=all&page=1" title="Shoujo ai" />Shoujo ai</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=33&state=all&page=1" title="Shounen" />Shounen</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=34&state=all&page=1" title="Shounen ai" />Shounen ai</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=35&state=all&page=1" title="Slice of life" />Slice of life</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=36&state=all&page=1" title="Smut" />Smut</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=37&state=all&page=1" title="Sports" />Sports</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=38&state=all&page=1" title="Supernatural" />Supernatural</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=39&state=all&page=1" title="Tragedy" />Tragedy</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=40&state=all&page=1" title="Webtoons" />Webtoons</a></td></tr>
                                        <tr><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=41&state=all&page=1" title="Yaoi" />Yaoi</a></td><td><a rel="nofollow" href="https://mangakakalot.com/manga_list?type=latest&category=42&state=all&page=1" title="Yuri" />Yuri</a></td></tr>
                                    </tbody>
                                </table>
                            </div> <div style="clear: both"></div>*@
                    </div>
                </div>
            </div>
        </div>

        <!-- GO TO TOP  -->
        <a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a>

        <!-- FOOTER -->
        <footer>
            <!-- Rights -->
            <div class="rights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>©  2018 BoShop All right reserved. <a href="https://webicode.com/">webicode</a></p>
                        </div>
                        <div class="col-md-6 text-right"> @*<img src="images/card-icon.png" alt="">*@ </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JavaScript -->
    <script src="~/LayoutHome/js/jquery-1.12.4.min.js"></script>
    <script src="~/LayoutHome/js/jquery-ui.js"></script>
    <script src="~/LayoutHome/js/popper.min.js"></script>
    <script src="~/LayoutHome/js/bootstrap.min.js"></script>
    @*<script src="~/LayoutHome/js/own-menu.js"></script>*@
    <script src="~/LayoutHome/js/jquery.lighter.js"></script>
    <script src="~/LayoutHome/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#bookmarkb').click(function () {
                $('#toggle_hide').fadeToggle(300);
            })
        })
    </script>
    @*<script src="~/LayoutHome/js/main.js"></script>*@
    <script src="~/LayoutHome/js/swiper.min.js"></script>
    <script src="~/LayoutHome/js/owl.carousel.js"></script>
    <script src="~/LayoutHome/js/lazysizes.min.js"></script>
    <script src="~/LayoutHome/js/myjs.js"></script>
    <script src="~/LayoutHome/js/headroom.min.js"></script>
    <script>
        // grab an element
        var myElement = document.querySelector("header");
        // construct an instance of Headroom, passing the element
        var headroom = new Headroom(myElement);
        // initialise
        headroom.init();
    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=3238982352813056&autoLogAppEvents=1"></script>
    @RenderSection("scripts", false)
</body>
</html>